admins: # use SteamIDv2; get from https://rep.tf/
  STEAM_1:1:33516616: "99:z"

discord_relay_bot_token: from https://discord.com/developers/applications/
discord_relay_rcon_users:
  - your discord user ID

sbpp_host: "yourmysqlhost.com" # this should be DNS to your metrics host (where the relay bot also goes to)
sbpp_html_port: 80 # html port to use - you may have multiple on one host
sbpp_db_port: 3306 # db port to use   - you may have multiple on one host
sbpp_user_password: asdfQWER # set these to something appropriate
sbpp_root_password: asdfQWER

databases:
  clientprefs: # note: localhost clientprefs is erased when server is rebuilt!!
    driver: "sqlite"
    host: "localhost"
    database: "clientprefs"
    user: "root"
    pass: ""

discord_webhooks:
  stac: "https://discord.com/api/webhooks/yourdiscordwebhook"
  sourcecomms: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"
  sourcebans: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"
  calladmin: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"
