admins: # use SteamIDv2; get from https://rep.tf/
  STEAM_1:1:33516616: "99:z"

discord_relay_bot_token: from https://discord.com/developers/applications/
discord_relay_rcon_users:
  - your discord user ID

databases:
  clientprefs:
    driver: "sqlite"
    host: "localhost"
    database: "clientprefs"
    user: "root"
    pass: ""
  
  sourcebans:
    driver: "default"
    host: "yourmysqlhost.com"
    database: "sbpp"
    user: "sbpp_admin"
    pass: "abcdWXYZ"
    port: "3306"

discord_webhooks:
  stac: "https://discord.com/api/webhooks/yourdiscordwebhook"
  sourcecomms: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"
  sourcebans: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"
  calladmin: "https://discord.com/api/webhooks/yourdiscordwebhook/slack"