# compiled
__pycache__

# secrets
.vault_pass.sh
roles/ssh-gen/files

# custom srcds files (this is network dependent, so not important)
roles/srcds/files

# logs and manifest
manifest_logs
manifest.yml
