all:
  children:
    tf2:
      children:
        metrics:
          hosts:
            raspi:
              ansible_host: dns-or-ip
        prod:
          hosts:
            host:
              ansible_host: dns-or-ip
