[Unit]
Description=SourceBans++ SSH tunnel to Docker interface
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart=ssh -4NTCp {{ sbpp_host_ssh_port }} -i /home/tf2server/.ssh/sbpp_key -o ServerAliveInterval=60 -o ExitOnForwardFailure=yes -L 172.17.0.1:{{ sbpp_db_port }}:db:3306 sbpp_user@{{ sbpp_host }}
StandardOutput=inherit
StandardError=inherit

[Install]
WantedBy=default.target
