---
- name: Perform setup
  ansible.builtin.include_tasks: setup.yml

- name: Create base directory
  ansible.builtin.file:
    state: directory
    path: ~/build/servers
    mode: 0755

- name: Delete old build data
  ansible.builtin.file:
    state: absent
    path: ~/build/servers/{{ network_shortname }}

- name: Create network build directory
  ansible.builtin.file:
    path: ~/build/servers/{{ network_shortname }}
    state: directory
    mode: 0755

- name: Create server build directories
  ansible.builtin.file:
    path: ~/build/servers/{{ network_shortname }}/{{ item.name }}
    state: directory
    mode: 0755
  loop: "{{ targets.instances }}"

- name: Copy SourceMod to /tf
  ansible.posix.synchronize:
    src: /home/tf2server/build/sm/{{ network_shortname }}/sm/
    dest: /home/tf2server/build/servers/{{ network_shortname }}/{{ item.name }}/tf
    recursive: true
  loop: "{{ targets.instances }}"
  delegate_to: "{{ ansible_host }}"

- name: Move Dockerfile
  ansible.builtin.template:
    src: Dockerfile.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/Dockerfile
    mode: 0755
  loop: "{{ targets.instances }}"

- name: Move pure_server_whitelist.txt
  ansible.builtin.template:
    src: pure_server_whitelist.txt.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/cfg/pure_server_whitelist.txt
    mode: 0755
  loop: "{{ targets.instances }}"

- name: Generate admins
  include_tasks: gen_admins.yml
  loop: "{{ targets.instances }}"

##
# Begin templates

- name: /run.sh
  ansible.builtin.template:
    src: run.sh.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/run.sh
    mode: 0755
  loop: "{{ targets.instances }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/server.cfg
  ansible.builtin.template:
    src: server.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/cfg/server.cfg
    mode: 0755
  loop: "{{ targets.instances }}"
  loop_control:
    index_var: loop0

- name: /tf/cfg/mapcycle.txt
  ansible.builtin.template:
    src: mapcycle.txt.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/cfg/mapcycle.txt
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/cfg/motd_default.txt
  ansible.builtin.template:
    src: motd_default.txt.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/cfg/motd_default.txt
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/cfg/motd_text_default.txt
  ansible.builtin.template:
    src: motd_text_default.txt.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/cfg/motd_text_default.txt
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/addons/sourcemod/configs/databases.cfg
  ansible.builtin.template:
    src: databases.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/addons/sourcemod/configs/databases.cfg
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/addons/sourcemod/configs/custom-chatcolors.cfg
  ansible.builtin.template:
    src: custom-chatcolors.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/addons/sourcemod/configs/custom-chatcolors.cfg
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/addons/sourcemod/configs/discord.cfg
  ansible.builtin.template:
    src: discord.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/addons/sourcemod/configs/discord.cfg
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/addons/sourcemod/configs/sourcebans/sourcebans.cfg
  ansible.builtin.template:
    src: sourcebans.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/addons/sourcemod/configs/sourcebans/sourcebans.cfg
    mode: 0755
  loop: "{{ targets.instances }}"

- name: /tf/addons/sourcemod/configs/sourcebans/sourcesleuth_whitelist.cfg
  ansible.builtin.template:
    src: sourcesleuth_whitelist.cfg.j2
    dest: ~/build/servers/{{ network_shortname }}/{{ item.name }}/tf/addons/sourcemod/configs/sourcebans/sourcesleuth_whitelist.cfg
    mode: 0755
  loop: "{{ targets.instances }}"

- name: Do instance loops (plugin configs, custom maps, etc.)
  include_tasks: instance_loops.yml
  loop: "{{ targets.instances }}"
  loop_control:
    loop_var: instance

##
# End Templates

- name: Prune space before building
  community.docker.docker_prune:
    images: true
    containers: true

- name: Build images
  community.docker.docker_image:
    name: "srcds-{{ network_shortname }}-{{ item.name }}"
    tag: "latest"
    source: build
    build:
      path: ~/build/servers/{{ network_shortname }}/{{ item.name }}
    state: present
    force_source: true
    force_tag: true
  loop: "{{ targets.instances }}"
