{% for k, v in default_cfgs[item].default.items() %}
{# instance #}
{% if "cfgs" in instance and item in instance["cfgs"] and k in instance["cfgs"][item] %}
{{ k }} "{{ instance["cfgs"][item][k] }}"
{# ruleset #}
{% elif "cfgs" in rulesets[instance.ruleset] and item in rulesets[instance.ruleset]["cfgs"] and k in rulesets[instance.ruleset]["cfgs"][item] %}
{{ k }} "{{ rulesets[instance.ruleset]["cfgs"][item][k] }}"
{# default #}
{% else %}
{{ k }} "{{ v }}"
{% endif %}
{% endfor %}