{% for k, v in classrestrict.items() %}
{% if 'classrestrict' in item %}
{% if k in item.classrestrict %}
{{ k }} "{{ item.classrestrict[k] }}"
{% else %}
{{ k }} "{{ v }}"
{% endif %}
{% else %}
{{ k }} "{{ v }}"
{% endif %}
{% endfor %}