"Databases"
{
        "driver_default"                "mysql"

        // When specifying "host", you may use an IP address, a hostname, or a socket file path

        "default"
        {
                "driver"                        "default"
                "host"                          "localhost"
                "database"                      "sourcemod"
                "user"                          "root"
                "pass"                          ""
                //"timeout"                     "0"
                //"port"                        "0"
        }

        "storage-local"
        {
                "driver"                        "sqlite"
                "database"                      "sourcemod-local"
        }

        "sourcebans"
        {
                "driver"                        "default"
                "host"                          "172.17.0.1"
                "database"                      "sourcebans"
                "user"                          "sourcebans"
                "pass"                          "{{ sbpp_user_password }}"
                "port"                          "{{ sbpp_db_port }}"
        }

{% for name, db in databases.items() %}
        "{{ name }}"
        {
{% for k, v in db.items() %}
                "{{ k }}"                       "{{ v }}"
{% endfor %}
        }
{% endfor %}
}