"Discord"
{
{% for k, v in discord_webhooks.items() %}
	"{{ k }}"
	{
		"url"	"{{ v }}"
	}
{% endfor %}
{% if 'discord_webhooks' in item %}{% for k, v in item.discord_webhooks.items() %}
	"{{ k }}"
	{
		"url"	"{{ v }}"
	}
{% endfor %}{% endif %}
}
