bash ./srcds_run -console \
  -strictportbind \
  -usercon \
  -secured \
  -port "{{ item.port }}" \
  +maxplayers {{ item.maxplayers|default(24) }} \
  +sv_setsteamaccount "{{ item.secrets.gslt }}" \
  +map "{{ mapcycles[item.mapcycle|default("all")] | random }}" \
  +sv_region "{{ srcds_region | quote }}" \
  +ip 0.0.0.0
