hostname "{{ item.hostname }}"

rcon_password "{{ item.secrets.rcon_pass }}"
sv_password "{{ item.secrets.pass | default('') }}"

sv_downloadurl "{{ fastdl_url | default('') }}"

motdfile_text motd.txt

{% set li = namespace(sv_tags=[]) %}
{% set li.sv_tags = global_tags %}
{% if 'tags' in item %}
{% set li.sv_tags = li.sv_tags + item.tags %}
{% endif %}
{% if 'tags' in rulesets[item.ruleset] %}
{% set li.sv_tags = li.sv_tags + rulesets[item.ruleset].tags %}
{% endif %}
sv_tags "{{ ','.join(li.sv_tags)|safe }}"

log off
sv_logbans 0
sv_logecho 0
sv_logfile 0
sv_log_onefile 0

sv_allow_votes 1
sv_vote_ui_hide_disabled_issues 1
sv_vote_quorum_ratio 0.6
sv_vote_allow_spectators 0
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_scramble_teams_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_kick_ban_duration 60

sv_minrate 65535
sv_maxrate 0
sv_maxupdaterate 66
sv_minupdaterate 30
sv_maxcmdrate 66
sv_mincmdrate 30
sv_client_min_interp_ratio 1
sv_client_max_interp_ratio 2
sv_client_cmdrate_difference 0
sv_client_predict 1
net_chan_limit_msec 128
net_disconnect_reason 1

mp_idledealmethod 2
mp_spectators_restricted 1
mp_allowspectators 0
mp_autoteambalance 0

{% if item.stv_enabled|default(stv_enabled) %}
tv_enable 1
tv_autorecord 0
tv_maxclients 4
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_snapshotrate 66
tv_port "{{ item.port + 5 }}"
tv_allow_camera_man 1
tv_password "{{ item.secrets.stv_pass }}"
// Hostname
tv_name "{{ item.stv_name|default(item.hostname + ' | STV') }}"
// In-game name -- doesnt work?
tv_title "SourceTV"
{% endif %}

mp_timelimit {{ item.timelimit|default(0) }}
mp_winlimit {{ item.winlimit|default(0) }}
mp_maxrounds {{ item.maxrounds|default(0) }}
mp_mapcycle_empty_timeout_seconds {{ item.timelimit|default(0) * 60 }}

// Ruleset config
{% for cmd in rulesets[item.ruleset|default("standard")].servercfg %}
{{ cmd }}
{% endfor %}

// Instance config
{% for cmd in item.servercfg | default([]) %}
{{ cmd }}
{% endfor %}

// Instance secret config
{% for cmd in item.secrets.servercfg | default([]) %}
{{ cmd }}
{% endfor %}
