hostname "{{ item.0.hostname }}"

rcon_password "{{ item.1.rcon_pass }}"
sv_password "{{ item.1.pass | default('') }}"

sv_downloadurl "{{ fastdl_url | default('') }}"

motdfile_text motd.txt

{% set li = namespace(sv_tags=[]) %}
{% set li.sv_tags = global_tags %}
{% if 'tags' in item.0 %}
{% set li.sv_tags = li.sv_tags + item.0.tags %}
{% endif %}
{% if 'tags' in rulesets[item.0.ruleset] %}
{% set li.sv_tags = li.sv_tags + rulesets[item.0.ruleset].tags %}
{% endif %}
sv_tags "{{ ','.join(li.sv_tags)|safe }}"

log off
sv_logbans 0
sv_logecho 0
sv_logfile 0
sv_log_onefile 0

sv_allow_votes 1
sv_vote_ui_hide_disabled_issues 1
sv_vote_quorum_ratio 0.6
sv_vote_allow_spectators 0
sv_vote_issue_nextlevel_allowed 0
sv_vote_issue_extendlevel_allowed 0
sv_vote_issue_scramble_teams_allowed 0
sv_vote_issue_kick_allowed 1
sv_vote_kick_ban_duration 60

sv_minrate 65535
sv_maxrate 0
sv_maxupdaterate 66
sv_minupdaterate 30
sv_maxcmdrate 66
sv_mincmdrate 30
sv_client_min_interp_ratio 1
sv_client_max_interp_ratio 2
sv_client_cmdrate_difference 0
sv_client_predict 1
net_chan_limit_msec 128
net_disconnect_reason 1

mp_idledealmethod 2
mp_spectators_restricted 1
mp_allowspectators 0
mp_autoteambalance 0

{% if item.0.stv_enabled|default(stv_enabled) %}
tv_enable 1
tv_autorecord 0
tv_maxclients 5
tv_transmitall 1
tv_delaymapchange 0
tv_delay 0
tv_maxrate 0
tv_port "{{ srcds_base_port + (loop0 * srcds_reserve_ports) + 5 }}"
tv_allow_camera_man 1
tv_password "{{ item.1.stv_pass }}"
// Hostname
tv_name "{{ item.0.stv_name|default(item.0.hostname + ' | STV') }}"
// In-game name -- doesnt work?
tv_title "SourceTV"
{% endif %}

mp_timelimit {{ item.0.timelimit|default(0) }}
mp_winlimit {{ item.0.winlimit|default(0) }}
mp_maxrounds {{ item.0.maxrounds|default(0) }}

// Ruleset config
{% for cmd in rulesets[item.0.ruleset|default("standard")].servercfg %}
{{ cmd }}
{% endfor %}

// Instance config
{% for cmd in item.0.servercfg | default([]) %}
{{ cmd }}
{% endfor %}

// Instance secret config
{% for cmd in item.1.servercfg | default([]) %}
{{ cmd }}
{% endfor %}
