{% for k, v in soap_tf2dm.items() %}
{% if 'soap_tf2dm' in item %}
{% if k in item.soap_tf2dm %}
{{ k }} "{{ item.soap_tf2dm[k] }}"
{% else %}
{{ k }} "{{ v }}"
{% endif %}
{% else %}
{{ k }} "{{ v }}"
{% endif %}
{% endfor %}