[Unit]
Description=ansible-tf2network: {{ network_shortname }} servers

[Kube]
Yaml=/home/tf2server/{{ network_shortname }}.yaml
Network=net-{{ network_shortname }}.network

[Install]
WantedBy=multi-user.target default.target
