{% if 'privaccess' in item.secrets %}
{% for id in item.secrets.privaccess %}
"{{ id }}" "0:a"
{% endfor %}
{% endif %}

{% for id, perms in admins.items() %}
"{{ id }}" "{{ perms }}"
{% endfor %}
