instances_secrets:
  - name: "unique-internal-name"
    gslt: "abcdWXYZ" # https://steamcommunity.com/dev/managegameservers
    sb_id: "1" # https://sbpp.github.io/docs/adding_server/
    stv_pass: sourcetvpassword
    rcon_pass: myrconpasswordCHANGEME
