instances_secrets:
  - name: "unique-internal-name"
    gslt: "" # https://steamcommunity.com/dev/managegameservers
    sb_id: "" # internal ID from SourceBans webpanel
    stv_pass: stvpassCHANGEME # or leave as "" for no password
    rcon_pass: rconpassCHANGEME
    servercfg:
      - my_secret_command
    discord_webhooks:
      relay: "https://discord.com/api/webhooks/your-server-specific-relay-webhook"
