instances_secrets:
  - name: "unique-internal-name"
    gslt: "" # https://steamcommunity.com/dev/managegameservers
    sb_id: "" # internal ID from SourceBans webpanel
    stv_pass: stvpassCHANGEME # or leave as "" for no password
    rcon_pass: rconpassCHANGEME
    servercfg:
      - my_secret_command
    discord_webhooks:
      # public-facing: has only all chat and no SteamID in names
      relay: "https://discord.com/api/webhooks/your-server-relay-webhook"
      # admin: has all and team chat with SteamIDs in names
      relay_full: "https://discord.com/api/webhooks/your-server-full-relay-webhook"
