instances:
  - name: "unique-internal-name"
    hostname: "My Team Fortress 2 Server"
    region: 0 # https://developer.valvesoftware.com/wiki/Sv_region
    maxplayers: 24
    mapcycle: "rinstagib"
    ruleset: "rinstagib"
    timelimit: 20
    winlimit: 0
    maxrounds: 0
    tags:
      - your
      - server
      - tags
    motd: |
      my multiline motd

      rules

      don't be rude
    plugins: # list of extra plugins to load on top of tf2.yml: base_plugins
      - soap_tf2dm
      - chillydm
      - AdvancedInfiniteAmmo
      - ClassRestrictionsForHumans
      - rinstagib
      - speedo
      - tf-bhop
      - tf2attributes
      - unrestricted_fov
    # you can override plugin configs defined in tf2.yml like so:
    classrestrict:
      sm_crh_blu_demomen: "0"
      sm_crh_blu_engineers: "0"
      sm_crh_blu_heavies: "0"
      sm_crh_blu_medics: "0"
      sm_crh_blu_pyros: "0"
      sm_crh_blu_scouts: "0"
      sm_crh_blu_snipers: "0"
      sm_crh_blu_soldiers: "-1"
      sm_crh_blu_spies: "0"
      sm_crh_classmenu: "0"
      sm_crh_enabled: "1"
      sm_crh_red_demomen: "0"
      sm_crh_red_engineers: "0"
      sm_crh_red_heavies: "0"
      sm_crh_red_medics: "0"
      sm_crh_red_pyros: "0"
      sm_crh_red_scouts: "0"
      sm_crh_red_snipers: "0"
      sm_crh_red_soldiers: "-1"
      sm_crh_red_spies: "0"
    # you only need to add the things you're overriding:
    rinstagib:
      ri_enabled: "1"