token: {{ discord_relay_bot_token }}
port: {{ srcds_base_port + (loop0 * srcds_reserve_ports) }}
rcon_addr: {{ ansible_host }}
rcon_pass: {{ instance.secrets.rcon_pass }}
channel: {{ instance.relay_bot.channel }}

rcon_users:
{% for user in instance.relay_bot.rcon_users %}
  - {{ user }}
{% endfor %}
