---
- name: Delete old build data
  ansible.builtin.file:
    state: absent
    path: ~/build/base

- name: Create build directory
  ansible.builtin.file:
    path: ~/build/base
    state: directory
    mode: 0755

- name: Copy build sources
  ansible.builtin.synchronize:
    src: ./
    dest: ~/build/base
    archive: false
    recursive: true

- name: Build base image
  containers.podman.podman_image:
    name: jackavery/base-tf2server
    tag: latest
    path: ~/build/base
    build:
      cache: no
      force_rm: true
      platform: linux/amd64
