---
- name: Stat all.secret.yml
  ansible.builtin.stat:
    path: "../group_vars/all.secret.yml"
  register: stat
  delegate_to: localhost

- name: Include secret all vars.
  ansible.builtin.include_vars: 
    file: "../group_vars/all.secret.yml"
  when: stat.stat.exists

#

- name: Stat groups
  ansible.builtin.stat:
    path: "../group_vars/{{ item }}.secret.yml"
  loop: "{{ group_names }}"
  register: stat
  delegate_to: localhost

- name: Reverse list (innermost group precedence)
  set_fact:
    stat_groups: "{{ stat.results[::-1] }}"

- name: Include secret group_vars.
  ansible.builtin.include_vars: 
    file: "../group_vars/{{ item.item }}.secret.yml"
  when: item.stat.exists
  loop: "{{ stat_groups }}"

#

- name: Stat host_vars/host.secret.yml
  ansible.builtin.stat:
    path: "../host_vars/{{ inventory_hostname }}.secret.yml"
  register: stat
  delegate_to: localhost

- name: Include secret host_vars.
  ansible.builtin.include_vars:
    file: "../host_vars/{{ inventory_hostname }}.secret.yml"
  when: stat.stat.exists

#

- name: Split ONLY
  set_fact:
    only_targets: "{{ only.split(',') }}"
  when: "only"

- name: Set targets (ONLY)
  set_fact:
    targets: "{{ targets | default([]) + instances | selectattr('name', '==', item) }}"
    targets_secrets: "{{ targets_secrets | default([]) + instances_secrets | selectattr('name', '==', item) }}"
  with_items: "{{ only_targets }}"
  when: "only_targets"

- name: Set targets (all)
  set_fact:
    targets: "{{ instances }}"
    targets_secrets: "{{ instances_secrets }}"
  when: "not only_targets"
